<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
  <div class="container">

      <header>
          <h1>Food Truck</h1>
      </header>

      <nav>
          <h4>Filers</h4>
          <ul>
              <li><a href="#">London</a></li>
              <li><a href="#">Paris</a></li>
              <li><a href="#">Tokyo</a></li>
          </ul>
      </nav>

      <article>
          <h1>Maps</h1>
      </article>

      <div style = " height:480px; width:200px; float:right; border-left: 1px solid gray; padding: 1em;">
          <br></br>
          <div>
              <input type="button" value="Twitter Login"></input>
          </div>
      <br />
          <div>
              <input type="button" value="Add Events"></input>
          </div>
        <h4>My Events</h4>
      </div>

      <footer>Copyright &copy; foodtruck.com</footer>

  </div>
  </body>
</html>
